{% extends "templates/base.html" %}
{% block title %}Profile Wizard{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span1">
  </div>
  <div class="span10">
    <div class="hero-unit">
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <p>Enter some basic information to get started!</p>
            <form action="/profile" method="post">
              <label for="firstname">First Name: </label>
              <input type="text" id="firstname" name="firstname" />

              <label for="lastname">Last Name: </label>
              <input type="text" id="lastname" name="lastname" />

              <label for="age">Age: </label>
              <input type="text" id="age" name="age" />

              <label for="school">School: </label>
              <input type="text" id="school" name="school" />
              <br />
              <input type="submit" class="btn" value="Submit" />
            </form>
          </div>
          <div class="item">
            <p>Enter some basic information to get started!</p>
            <form action="/profile" method="post">
              <label for="firstname">First Name: </label>
              <input type="text" id="firstname" name="firstname" />

              <label for="lastname">Last Name: </label>
              <input type="text" id="lastname" name="lastname" />

              <label for="age">Age: </label>
              <input type="text" id="age" name="age" />

              <label for="school">School: </label>
              <input type="text" id="school" name="school" />
              <br />
              <input type="submit" class="btn" value="Submit" />
            </form>
          </div>

          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
  </div><!--/span-->
</div><!--/row-->
  
{% endblock %}
