{% extends "templates/base.html" %}

{% block content %}
<div class="row-fluid">
  <div class="span1">
  </div>
  <div class="span10">
    <div class="hero-unit">
  {% if not user %}
      <h3>Log In</h3>
      <p>Log in with your Google Account to get started!</p>
      <p><a class="btn btn-primary btn-large" href="/login">Log In! &raquo;</a></p>
    </div>
  {% elif profile %}
      
  {% else %}
      <p>Welcome back.</p>
  {% endif %}
    </div>
  </div><!--/span-->
</div><!--/row-->
{% endblock %}
