{% extends "templates/base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span1">
  </div>
  <div class="span10">
    <div class="hero-unit">
  {% if not user %}
      <h3>Log In</h3>
      <p>Log in with your Google Account to get started!</p>
      <p><a class="btn btn-primary btn-large" href="/login">Log In! &raquo;</a></p>
    </div>
  {% elif profile %}

  {% else %}
      <p>Enter some basic information to get started!</p>
      <form action="/profile" method="post">
        <label for="firstname">First Name: </label>
        <input type="text" id="firstname" name="firstname" />

        <label for="lastname">Last Name: </label>
        <input type="text" id="lastname" name="lastname" />

        <label for="age">Age: </label>
        <input type="text" id="age" name="age" />

        <label for="school">School: </label>
        <input type="text" id="school" name="school" />
        <br />
        <input type="submit" class="btn" value="Submit" />
      </form>
  {% endif %}
    </div>
  </div><!--/span-->
</div><!--/row-->
{% endblock %}
