{% extends "templates/base.html" %}
{% block title %}Profile{% endblock %}

{% block childjs %}
<script src="../static/js/profile.js"></script>
{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span1">
  </div>
  <div class="span10">
    <div class="hero-unit">
  {% if not user %}
      <h3>Log In</h3>
      <p>Log in with your Google Account to get started!</p>
      <p><a class="btn btn-primary btn-large" href="/login">Log In! &raquo;</a></p>
    </div>

  {% else %}
      <p>Enter some basic information to get started!</p>
      <form action="/profile" method="post">
        <fieldset>
          <label for="firstname">First Name: </label>
          <input type="text" id="firstname" name="firstname"
                 value="{{ profile.firstname }}" />

          <label for="lastname">Last Name: </label>
          <input type="text" id="lastname" name="lastname"
                 value="{{ profile.lastname }}" />

          <label for="age">Age: </label>
          <input type="text" id="age" name="age"
                 value="{{ profile.age }}" />

          <label for="school">School: </label>
          <input type="text" id="school" name="school"
                 value="{{ profile.school }}" />

          <label for="reading">SAT Reading: </label>
          <input type="text" id="reading" name="reading"
                 value="{{ sat.reading }}" />

          <label for="math">SAT Math: </label>
          <input type="text" id="math" name="math"
                 value="{{ sat.math }}" />

          <label for="writing">SAT Writing: </label>
          <input type="text" id="writing" name="writing"
                 value="{{ sat.writing }}" />

          <br />
          <br />

          <div class="sat_subject">
            <label class="sat_subject_label" for="sat_subject">SAT II</label>
            <select class="sat_subject_select" name="sat_subject">
              {% for group in groups %}
              <optgroup label="{{ group }}">
                {% for subject in subjects[group] %}
                  <option value="{{ subject }}">{{ subject }}</option>
                {% endfor %}
              </optgroup>
              {% endfor %}
            </select>
            <input type="text" class="sat_subject_score" name="sat_subject_score"
                   value="" />
          </div>
          <p id="add_sat_subject"><a class="btn">Add another SAT II Subject Test</a></p>

          <br />
          <input type="submit" class="btn btn-large btn-primary" value="Save" />
      </form>
  {% endif %}
    </div>
  </div><!--/span-->
</div><!--/row-->
{% endblock %}
